{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_sportsgrades/grade_display

    Template for displaying student grades

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * student Object with student information
    * courses Array of courses with grades

    Example context (json):
    {
        "student": {
            "id": 123,
            "name": "Doe, John"
        },
        "courses": [
            {
                "id": 1,
                "fullname": "Introduction to Programming",
                "shortname": "CS101",
                "section": "001",
                "term": "Fall 2024",
                "final_grade": 92.5,
                "final_grade_formatted": "92.50",
                "letter_grade": "A",
                "grade_items": []
            }
        ]
    }
}}

<div class="sportsgrades-grade-container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>{{#str}}grade_title, block_sportsgrades, {{student.name}}{{/str}}</h4>
        
        <button id="sportsgrades-back-to-results" class="btn btn-secondary">
            <i class="fa fa-arrow-left"></i> {{#str}}grade_back_to_results, block_sportsgrades{{/str}}
        </button>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">{{#str}}grade_course, block_sportsgrades{{/str}}</h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush sportsgrades-course-list">
                        {{#courses}}
                            <li class="list-group-item sportsgrades-course-item">
                                <a href="#" class="sportsgrades-course-link" data-course="{{#json}}{{.}}{{/json}}">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <strong>{{fullname}}</strong>
                                            <div class="text-muted small">
                                                {{#term}}{{term}} &middot; {{/term}}
                                                {{#section}}{{#str}}grade_section, block_sportsgrades{{/str}}: {{section}}{{/section}}
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <span class="badge badge-primary">{{letter_grade}}</span>
                                            <div class="small">{{final_grade_formatted}}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {{/courses}}
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">{{#str}}grade_details, block_sportsgrades{{/str}}</h5>
                </div>
                <div class="card-body" id="sportsgrades-grade-items">
                    <div class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p>{{#str}}grade_loading, block_sportsgrades{{/str}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
