{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_sportsgrades/grade_items

    Template for displaying grade items for a course

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * course Object with course information
    * grade_items Array of grade items

    Example context (json):
    {
        "course": {
            "id": 1,
            "fullname": "Introduction to Programming",
            "shortname": "CS101",
            "section": "001",
            "term": "Fall 2024",
            "final_grade": 92.5,
            "final_grade_formatted": "92.50",
            "letter_grade": "A"
        },
        "grade_items": [
            {
                "id": 101,
                "name": "Midterm Exam",
                "type": "exam",
                "module": "assign",
                "weight": 25,
                "weight_formatted": "25.00%",
                "grade": 88,
                "grade_formatted": "88.00",
                "grademax": 100,
                "percentage": 88,
                "percentage_formatted": "88.00%",
                "contribution": 22,
                "contribution_formatted": "22.00%"
            }
        ]
    }
}}

<div class="sportsgrades-grade-items-container">
    <div class="mb-3">
        <h6>{{course.fullname}}</h6>
        <div class="d-flex justify-content-between">
            <div>
                {{#course.term}}
                    <span class="badge badge-secondary">{{course.term}}</span>
                {{/course.term}}
                
                {{#course.section}}
                    <span class="badge badge-info">{{#str}}grade_section, block_sportsgrades{{/str}}: {{course.section}}</span>
                {{/course.section}}
            </div>
            <div>
                <span class="badge badge-success">
                    {{#str}}grade_final, block_sportsgrades{{/str}}: {{course.final_grade_formatted}}
                </span>
                <span class="badge badge-primary">
                    {{#str}}grade_letter, block_sportsgrades{{/str}}: {{course.letter_grade}}
                </span>
            </div>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{#str}}grade_item, block_sportsgrades{{/str}}</th>
                    <th>{{#str}}grade_weight, block_sportsgrades{{/str}}</th>
                    <th>{{#str}}grade_value, block_sportsgrades{{/str}}</th>
                    <th>{{#str}}grade_percentage, block_sportsgrades{{/str}}</th>
                    <th>{{#str}}grade_contribution, block_sportsgrades{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#grade_items}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{weight_formatted}}</td>
                        <td>{{grade_formatted}} / {{grademax}}</td>
                        <td>{{percentage_formatted}}</td>
                        <td>{{contribution_formatted}}</td>
                    </tr>
                {{/grade_items}}
            </tbody>
        </table>
    </div>
</div>
